<%= render "layouts/header" %>
<div class="form-group">
<br>
<br>
<h1>Heroes</h1>
<% @user.each do |f| %>
<ul>
<li><%= link_to user_path(id: f.id) do %><%= f.email %><%end%></li>

<% f.posts.reverse.each do |x|%>
<small><li><%= x.content %> </li></small>

</ul>
<% end %>
<%end%>

</div>
