@import 'bootstrap-sprockets';
@import 'bootstrap';


.container{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 100px;
  background-image: image_url('tron-guy.png');
  background-size: 100% 100%;
   background-position: center top;
   width: 100%;
   height: 800px;
   text-color:#2DF6FC;
   background-color: #2DF6FC;
   color: orange;
   font-family: 'Orbitron', sans-serif;
}

.container-fluid{
  display: flex;
}


.tronlogo img{
  width:100px;
  height: 60px;
}


.container-fluid{
  background-color: #000000;
  border-bottom: 1px solid #2DF6FC;
}

.peoples{
  width: 500px;
  border: 1px solid #2DF6FC;
}

ul {
  list-style: none;
}

.linephoto img {
  width:60px;
  length:60px;
}

.friendphoto img {
  width:60px;
  length:60px;
}

.glyphicon{
  color:#2DF6FC;
}


.nav{
  display: flex;
}

.thing{
  display: flex;
  flex-direction: row;
}
